/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    .banner-sec {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
        .reservation-form {
            width: 550px;
            margin-right: 30px;
            background: $color-grey;
            padding: 20px 20px 10px;
            @include breakpoint(x-normal) { 
                width: 500px;
            }
            form {
                .select-box-sec {
                    margin-bottom: 30px;
                    .bootstrap-select button {
                        .filter-option {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
                .bootstrap-select {
                    button {
                        -webkit-appearance: none;
                        -ms-appearance: none;
                        -moz-appearance: none;
                        height: 46px;
                        outline: medium none;
                        padding: 1px 20px 1px;
                        width: 100%;
                        background: white url("../images/select-arrow.png") no-repeat scroll 100% center;
                        border-radius: 0;
                        &:after {
                            display: none;
                        }
                        .filter-option {
                            font-weight: $font-weight-regular;
                            color: $color-grey;
                            font-family: $font-family;
                            font-size: 16px;
                            text-transform: $text-capitalize;
                            letter-spacing: normal;
                        }
                        &:hover {
                            border-color: transparent;
                        }
                    }
                    &.show {
                        .dropdown-menu {
                        background: #F0F0F0;
                        &.show {
                            border-radius: 8px;
                            ul {
                                visibility: visible;
                                opacity: 1;
                                display: block;
                                li {
                                    padding: 3px 20px;
                                    border-radius: 0px;
                                    transition: all 0.3s ease-in-out 0s;
                                    a {
                                        display: block;
                                        clear: both;
                                        font-weight: $font-weight-regular;
                                        font-family: $font-family;
                                        white-space: nowrap;
                                        span {
                                            color: $color-black;
                                        }
                                    }
                                    &:hover {
                                        background: #509BFF;
                                        a {
                                            span {
                                                color: $color-white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    }
                }
                .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                    width: 100%;
                }
                span {
                    color: $color-white;
                    font-size: 14px;
                    font-family: $font-family;
                    font-weight: $font-weight-medium;
                    display: block;
                    a {
                        color: $color-white;
                        font-family: $font-family;
                        font-weight: $font-weight-bold;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
                .button-sec {
                    margin-top: 30px;
                    span {
                        margin-top: 5px;
                        text-align: center;
                    }
                }
                span.flight {
                    margin-bottom: 5px;
                }
                .detail-info {
                    .form-group {
                        display: flex;
                        justify-content: space-between;
                        label {
                            height: 46px;
                            width: 190px;
                            color: $color-grey;
                            background: #E0E0E0;
                            font-family: $font-family;
                            font-weight: $font-weight-bold;
                            padding: 7px 10px;
                            margin-bottom: 0px;
                            line-height: 2.1em;
                            @include breakpoint(x-normal) { 
                                width: 230px;
                            }
                            img {
                                max-width: 20%;
                                margin-right: 5px;
                            }
                        }
                        input {
                            width: 190px;
                            text-transform: uppercase;
                            color: $color-grey;
                            border-color: $color-white;
                            -webkit-appearance: none;
                            -ms-appearance: none;
                            -moz-appearance: none;
                        }
                        .select-box {
                            width: 203px;
                            margin-left: 20px;
                            select {
                                border-color: $color-white;
                                color: $color-grey;
                            }
                        }
                    }
                    &.sec {
                        .form-group {
                            margin-bottom: 5px;
                            label {
                                width: 155px;
                            }
                            .select-box {
                                width: 380px;
                                margin-left: 0px;
                            }
                        }
                    }
                }
                .form-control::-webkit-input-placeholder { 
                    color: $color-grey;
                }
                .form-control::-moz-placeholder { 
                    color: $color-grey;
                }
                .form-control:-ms-input-placeholder { 
                    color: $color-grey;
                }
                input:-moz-placeholder { 
                    color: $color-grey;
                }
            }
        }
        .reservation-slider {
            width: calc(100% - 600px);
            text-align: center;
            padding: 20px 0px;
            @include breakpoint(x-normal) { 
                width: calc(100% - 550px);
            }
            h2 {
                font-size: 30px;
                color: $color-grey;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                margin-bottom: 20px;
                small {
                    font-size: 30px;
                    color: $theme-color;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    font-style: italic;
                }
            }
            .carousel-inner {
                .carousel-item {
                    height: 310px;
                    @include breakpoint(x-normal) { 
                        height: 270px;
                    }
                }
            }
            .slider-content {
                span {
                    color: $black;
                    margin-bottom: 12px;
                    display: block;
                }
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        margin: 0 6px;
                        span, figure {
                            display: inline-block;
                            vertical-align: middle;
                            color: $color-grey;
                        }
                        span {
                            margin-bottom: 0px;
                        }
                        figure {
                            margin-bottom: 4px;
                        }
                    }
                }
            }
            .banner-caption {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                text-align: center;
                figure {
                    margin-bottom: 50px;
                    max-width: 600px;
                    margin: 0 auto 10px;
                    @include breakpoint(x-normal) {
                        max-width: 435px;
                    }
                }
            }
            .carousel-inner {
                margin-top: 80px;
            }
            .carousel-indicators {
                position: inherit;
                bottom: inherit;
                li {
                    width: 33%;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 20px;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    color: $color-grey;
                    text-indent: inherit;
                    @include breakpoint(x-normal) {
                        font-size: 15px;
                    }
                    span {
                        height: 13px;
                        width: 13px;
                        border-radius: 100%;
                        background: transparent;
                        border: 1px solid transparent;
                        display: block;
                        margin: 5px auto 0px;
                    }
                    &.active {
                        color: $theme-color;
                        span {
                            background: $theme-color;
                            border: 1px solid $theme-color;
                        }
                    }
                }
            }
            .carousel-control-next,
            .carousel-control-prev {
                top: 45%;
                transform: translateY(-50%);
                font-size: 70px;
                color: $color-grey;
                &:hover {
                    color: $theme-color;
                }
                @include breakpoint(x-normal) { 
                    font-size: 50px;
                }
            }
            .carousel-control-prev {
                left: -15px;
            }
            .carousel-control-next {
                right: -15px;
            }
        }
    }
}