/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    position: relative;
    overflow-x: hidden;
    .footer-nav {
        background: $theme-color;
        text-align: center;
        margin: 0 auto;
        padding: 15px 0px;
        @include breakpoint(x-normal) {
            padding: 10px 0px;
        }
        ul {
            li {
                list-style: none;
                display: inline-block;
                margin: 0 25px;
                a {
                    font-size: 18px;
                    text-transform: $text-capitalize;
                    color: $color-white;
                    &:hover {
                        color: $black;
                    }
                    @include breakpoint(x-normal) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .footer-content {
        padding: 40px 0px;
        background: $color-grey;
        text-align: center;
        @include breakpoint(x-normal) {
            padding: 30px 0px;
        }
        p {
            color: $color-white;
            margin-bottom: 20px;
            a {
                color: $color-white;
                &:hover {
                    color: $theme-color;
                }
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .footer-logo {
        text-align: center;
        margin: 10px auto 0;
        a {
            display: inline-block;
            max-width: 10%;
        }
    }
}