/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

header {
    background: $color-white;
}

.navbar {
    background: transparent;
    border: none;
    min-height: 1px;
    margin: 0;
    border-radius: 0px;
    padding: 20px 0px;
    .navbar-nav {
        > li {
            margin: 0 20px;
            &:last-child {
                margin-right: 0px;
            }
            @include breakpoint(x-normal) {  
                margin: 0 15px;
            }
            > a {
                color: $color-grey;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                letter-spacing: 0.03em;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
                display: inline-block;
                position: relative;
                padding: 0;
                text-transform: $text-uppercase;
                font-size: 20px;
                @include breakpoint(x-normal) {  
                    font-size: 17px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $theme-color;
                    transform: scaleX(0);
                    display: block;
                    transform-origin: 50% 50%;
                    transition: -webkit-transform 0.2s ease-out;
                    transition: transform 0.2s ease-out;
                    will-change: transform;
                }
            }
        }
        .nav-link {
            padding: 0px !important;
        }
    }
    .navbar-collapse {
        flex-direction: column;
        padding: 0;
    }
    .navbar-brand {
        padding: 0;
        height: auto;
        max-width: 300px;
        @include breakpoint(x-normal) { 
            max-width: 230px;
        }
    }
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar .navbar-nav > li.current-menu-item > a, 
.navbar .navbar-nav > li.current-menu-parent > a,
.navbar .navbar-nav >li >a:focus,
.navbar .navbar-nav >li >a:hover {
    color: $theme-color;
    transition: all 0.5s ease-in-out 0s;
}

.navbar .navbar-nav > li.current-menu-item > a::after, 
.navbar .navbar-nav > li.current-menu-parent > a:after,
.navbar .navbar-nav >li >a:hover:after {
    transform: scaleX(1);
}

/*----- Sticky Header -----*/

.fixed-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    background: $color-white;
    .nav-top-sec {
        display: none;
    }
    .navbar {
        padding: 10px 0px;
    }
    .navbar-brand {
        width: 65%;
    }
}