/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

.container-fluid {
    max-width: 1500px;
     @include breakpoint(x-normal) { 
        max-width: 1140px;
    }
}
.relative {
    position: relative;
}

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.section {
    padding: 60px 0px;  
    @include breakpoint(x-normal) { 
        padding: 40px 0px;  
    }
}

.relative {
    position: relative;
}

.order {
    order: 1;
}

/*----- Button Css -----*/

.theme-btn {
    font-size: 20px;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    border-radius: 0px;
    line-height: 2.2;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    text-transform: capitalize;
    color: $color-white;
    background: $theme-color;
    border: 1px solid $color-white;
    &:hover {
        background: $color-black;
        border-color: $color-black;
        color: $color-white;
    }
    @include breakpoint(x-normal) { 
        font-size: 18px;
    }
}

/*----- Slick Dots -----*/

.slick-dots {
    margin: 28px auto 0;
    text-align: center;
    width: 100%;
    li {
        display: inline-block;
        button {
            border-radius: 100%;
            background: $color-white;
            border: 1px solid $theme-color;
            height: 10px;
            min-width: 10px;
            margin: 0 5px;
            padding: 0;
            text-indent: -999999px;
            vertical-align: middle;
        }
        &.slick-active {
            button {
                background: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}

/*-------------------------------------------------------------------
- MAIN SECTIONS
-------------------------------------------------------------------*/

/*------ Trending Section ------*/

.trending-wrap {
    background: $theme-color;
    padding: 10px 0px;
    text-align: center;
    p {
        color: $color-white;
        margin-bottom: 0px;
    }
}

/*----- Advertiesment Section -----*/

.advertiesment-sec-wrap {
    background: $theme-color;
    text-align: center;
    padding: 30px 0px;
    h2 {
        color: $color-white;
        margin-bottom: 0px;
        font-family: $font-family;
        font-weight: $font-weight-bold;
        font-size: 45px;
    }
}

/*----- Service Grid Wrap ------*/

.service-grid-wrap {
    text-align: center;
    .title {
        margin-bottom: 90px;
        h3 {
            color: $color-grey;
            font-family: $font-family;
            font-weight: $font-weight-bold;
            margin-bottom: 0px;
            small {
                font-family: $font-family;
                font-weight: $font-weight-bold;
                font-style: italic;
                font-size: 32px;
                small {
                    color: $theme-color;
                }
            }
        }
    }
    .service-grid {
        padding: 0 15%;
        figure {
            margin-bottom: 10px;
            height: 100px;
            display: flex;
            justify-content: space-around;
            img {
                max-width: 75px;
                height: 75px;
            }
        }
        .content {
            h4 {
                color: $black;
                font-family: $font-family;
                font-weight: $font-weight-bold;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 0px;
            }
        }
    }
}

/*------ Inner Nav Section ------*/

.inner-nav-sec {
    background: $color-grey;
    ul {
        li {
            a {
                color: #898989;
                font-size: 25px;
                padding: 10px 25px;
                text-transform: $text-uppercase;
            }
            &:hover {
                a {
                    background: #F1F1F1;
                }
            }
            &.current-menu {
                a {
                    background: #F1F1F1;
                }
            }
        }
    }
}

/*----- Trending News ------*/

.trending-news {
    padding: 10px 0px;
    border-bottom: 1px solid $color-grey;
    ul {
        text-align: center;
        li {
            display: inline-block;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            color: $color-grey;
            border-right: 1px solid $color-grey;
            margin-left: 18px;
            padding-right: 18px;
            &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                padding: 0;
                border: none;
            }
        }
    }
}

/*----- Car Type Sec Wrap -----*/

.car-type-sec-wrap {
    .grid-wrap {
        .content-sec {
            padding: 15px 0px;
            border-bottom: 1px solid $color-grey;
            h3 {
                color: $color-grey;
            }
            span {
                color: $black;
                margin-bottom: 10px;
                display: block;
            }
            ul {
                li {
                    display: inline-block;
                    margin: 0 6px;
                    span, figure {
                        display: inline-block;
                        vertical-align: middle;
                        color: $color-grey;
                    }
                    &:first-child {
                        margin-left: 0px;
                    }
                    span {
                        margin-bottom: 0px;
                    }
                    figure {
                        max-width: 15px;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }
        .grid-sec {
            padding: 40px 0px;
            ul {
                li {
                    position: relative;
                    margin-bottom: 15px;
                    figure {
                        height: 30px;
                        width: 30px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-bottom: 0px;
                    }
                    .content {
                        padding-left: 50px;
                        span {
                            font-size: 16px;
                            color: $color-grey;
                        }
                    }
                }
            }
            .grid-3 {
                background: $color-grey;
                padding: 15px;
                text-align: right;
                margin-left: 40px;
                .price {
                    font-size: 45px;
                    color: $color-white;
                    display: block;
                    font-weight: $font-weight-semibold;
                    line-height: normal;
                }
                cite {
                    color: $color-white;
                    display: block;
                    font-size: 16px;
                    margin-bottom: 15px;
                    @include breakpoint(x-normal) {
                        font-size: 12px;
                    }
                }
                .theme-btn {
                    display: block;
                }
            }
            .grid-one {
                margin-right: 40px;
            }
        }
    }
}

.form-check-label {
    padding-left: 0px;
    margin-bottom: 10px;
    label {
        font-size: 18px;
        position: relative;
        padding-left: 30px;
        a {
            color: $theme-color;
            &:hover {
                color: $black;
            }
        }
        .new-checkbox {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-top: -2px;
            margin-right: 8px;
            margin-bottom: 0;
            height: 18px;
            width: 18px;
            border: 1px solid $color-grey;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}
input[type=checkbox] {
    -webkit-appearance: none;
    display: none;
    position: absolute;
    left: 0;
    top: 7px;
    &:checked + span.new-checkbox {
        background: $theme-color;
        width: 18px;
        height: 18px;
        display: inline-block;
        border-color: #9d895f;
        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 5px;
            background: transparent;
            top: 26%;
            left: 3px;
            right: 0;
            text-align: center;
            border: 2px solid #ffffff;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

.radio,
.checkbox {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-bottom: 0px;
    display: inline-block;
    &:last-child {
        margin-right: 0px;
    }
    label {
        margin-bottom: 0px;

    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked),
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label,
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        font-family: $font-family;
        vertical-align: bottom;
        font-size: 16px;
        font-weight: $font-weight-regular;
        color: $black;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 14px;
        height: 14px;
        border: 2px solid #D4D4D8;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: $theme-color;
        position: absolute;
        top: 7px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after,
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.button-sec-wrap {
    ul {
        li {
            display: inline-block;
            margin-right: 15px;
        }
    }
    a {
        min-width: 170px;
        line-height: 2.3em;
        border: 2px solid $theme-color;
        text-transform: $text-uppercase;
        &:hover {
            color: $theme-color;
            background: $color-white;
            border-color: $theme-color;
        }
    }
}

/*----- Option Section Wrap -----*/

.options-sec-wrap {
    .detail-sec {
        margin-bottom: 60px;
        h3 {
            color: $color-grey;
        }
        p {
            color: $black;
        }
        form {
            textarea {
                height: 50px;
            }
            label {
                color: #898989;
            }
        }
        span {
            &.new-checkbox {
                background: #fff;
                border: solid 2px #6c6c6c;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                margin-right: 7px;
                border: solid 1px rgba(37, 53, 71, 0.3);
                cursor: pointer;
                display: inline-block;
                margin-left: 0px;
                top: -1px;
                position: relative;
            }
        }
    }
    .anything-else-sec {
        margin-bottom: 50px;
        input {
            margin-bottom: 10px;
        }
        .pad-top {
            padding-top: 93px;
            @include breakpoint(x-normal) {
               padding-top: 90px;
            }
        }
        &.anything-wrap {
            .form-sec {
                display: none;
            }
        }
    }
    .button-sec-wrap {
        li {
            &:first-child {
                a {
                    background: $color-white;
                    border: 2px solid $theme-color;
                    color: $color-grey;
                    &:hover {
                        background: $theme-color;
                        color: $color-white;
                    }
                }
            }
            &:nth-child(2) {
                a {
                    &:hover {
                        color: $color-grey;
                    }
                }
            }
        }
    }
}

/*----- Login Section Wrap ------*/

.login-sec-wrap {
    .sec-title {
        margin-bottom: 70px;
        h3 {
            color: $color-grey;
            a {
                color: $black;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
    form {
        .form-group {
            margin-bottom: 20px;
            select {
                width: 150px;
            }
        }
        .form-check-label {
            label {
                color: #868686;
            }
        }
    }
    .button-sec-wrap {
        text-align: right;
        margin-top: 40px;
    }
}

#phone {
    input {
        background-image: url(../images/select-arrow1.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 70px;
    }
}

/*----- Modal Form ------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        max-width: 750px;
        width: 100%;
    }
    .popup-inner-elem {
        position: relative;
        h2 {
            color: $color-white;
            text-transform: $text-uppercase;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $color-white;
            font-size: 40px;
        }
        p {
            color: #aba9a9;
            text-align: center;
        }
        .popup-close {
            position: absolute;
            right: -40px;
            top: -40px;
            padding: 0;
            min-width: auto;
            opacity: 1;
            z-index: 99;
            i {
                font-size: 30px;
                display: inline-block;
                color: $color-white;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover {
                i {
                    color: $theme-color;
                }
            }
        }
        form {
            padding: 0 5%;
            .form-group {
                position: relative;
                margin-bottom: 2.8rem;
            }
            .button-sec {
                margin-bottom: 20px;
                button {
                    min-width: 170px;
                    line-height: 2.7em;
                    font-size: 18px;
                    display: inline-block;
                    text-transform: $text-uppercase;
                    width: auto;
                    border-color: $theme-color;
                    &:hover {
                        color: $color-white;
                        border-color: $color-white;
                        background: transparent;
                    }
                }
            }
        }
        .forgot-password {
            display: block;
            a {
                font-size: 14px;
                color: $theme-color; 
                display: inline-block;
                &:hover {
                    color: $color-white;
                }
            }
            span {
                display: block;
                color: $theme-color;
            }
        }
    }
}

/*----- Page Title Bar ------*/

.page-title-bar {
    text-align: center;
    margin-bottom: 40px;
    h2 {
        color: $color-grey;
        margin-bottom: 0px;
        border-bottom: 1px solid $color-grey;
        padding-bottom: 30px;
        font-weight: $font-weight-bold;
        small {
            font-size: 45px;
            color: $theme-color;
            font-style: italic;
            @include breakpoint(x-normal) {
               font-size: 32px;
            }
        }
    }
}

/*----- Faq Page -----*/

.faq-tab-wrap {
    #accordion {
        h5 {
            color: $black;
            margin-bottom: 40px;
            display: block;
            text-align: center;
        }
    }
    .card{
        border-bottom: 2px dashed #141414;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        &:last-child {
            margin-bottom: 0px;
        }
        .card-header {
            padding: 0px;
            border: none;
            background: transparent;
            h4 {
                margin-bottom: 0px;
            }
            .card-link {
                color: $color-black;
                display: block;
                padding: 18px 15px 15px 30px;
                background: $color-white;
                position: relative;
                color: $black;
                border-radius: 3px;
                font-weight: $font-weight-semibold;
                &:hover {
                    color: $theme-color;
                }
                span {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-bottom: 0px;
                }
                i {
                    &:before {
                        content: "\f103";
                        font-family: FontAwesome;
                        color: $color-grey;
                        font-style: normal;
                        font-size: 25px;
                    }
                }
                &.collapsed {
                    i {
                        &:before {
                            content: "\f101";
                            
                        }
                    }
                }
            }
        }
        .panel-body {
            padding: 0px 25px 20px;
            p {
                color: $black;
                font-style: italic;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        &:last-child {
            border: none;
        }
    }
}

/*----- Listing Section -----*/

.listing-wrap {
    ul {
        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0px;
            }
            .icon {
                position: absolute;
                top: -2px;
                left: 0;
                i {
                    font-size: 25px;
                    color: $color-grey;
                }
            }
            p {
                color: $black;
            }
            a {
                color: $black;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

/*----- Terms And Condition -----*/

.terms-condition-wrap {
    article {
        position: relative;
        padding-left: 30px;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0px;
        }
        .icon {
            position: absolute;
            top: -2px;
            left: 0;
            i {
                font-size: 25px;
                color: $color-grey;
            }
        }
        p {
            color: $black;
        }
        a {
            color: $black;
            &:hover {
                color: $theme-color;
            }
        }
        h5 {
            font-weight: $font-weight-bold;
        }
    }
}

/*------ Our History Page ------*/

.our-history-wrap {
    .our-history-sec {
        figure {
            margin-bottom: 40px;
        }
        h3 {
            text-transform: $text-uppercase;
        }
    }
    .content-wrap {
        padding: 0 5%;
        .content-sec {
            margin-bottom: 30px;
            h3 {
                color: $black;
            }
            p {
                color: #a29e9e;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

/*----- Contact Us -----*/

.contact-us-wrap {
    .contact-us-sec {
        text-align: center;
        h3 {
            margin-bottom: 25px;
            color: $black;
        }
        p {
            margin-bottom: 35px;
            color: $black;
            font-size: 15px;
            font-weight: $font-weight-light;
        }
        form {
            padding: 0 27%;
            .form-control {
                margin-bottom: 30px;
            }
            .button-sec-wrap {
                margin: 30px 0px;
            }
        }
    }
    .listing-wrap {
        ul {
            width: 16%;
            text-align: left;
            margin: 0 auto;
            li {
                margin-bottom: 5px;
            }
        }
    }
}

/*------ login Again Page ------*/

.login-again-wrap {
    .login-again-sec {
        padding: 0 25%;
        text-align: center;
        padding-top: 30px;
        form {
            .form-group {
                position: relative;
                margin-bottom: 2.8rem;
            }
            .button-sec {
                margin-bottom: 20px;
                button {
                    min-width: 170px;
                    line-height: 2.7em;
                    font-size: 18px;
                    display: inline-block;
                    text-transform: $text-uppercase;
                    width: auto;
                    border-color: $theme-color;
                    &:hover {
                        color: $color-white;
                        border-color: $color-black;
                        background: $color-black;
                    }
                }
            }
            
        }
        .forgot-password {
            display: block;
            a {
                font-size: 14px;
                color: $theme-color; 
                display: inline-block;
                &:hover {
                    color: $black;
                }
            }
            span {
                display: block;
                color: #ADADAD;
                a {
                    color: #ADADAD;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

/*----- Trip Detail Wrap -----*/

.trip-detail-wrap {
    .sec-title {
        text-align: center;
        border-bottom: 2px solid $color-grey;
        margin-bottom: 50px;
        padding-bottom: 20px;
        img {
            max-width: 35px;
        }
        h2 {
            margin-bottom: 0px;
        }
    }
    .detail-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 25%;
        margin-bottom: 40px;
        h4 {
            font-weight: $font-weight-bold;
        }
        figure {
            border: 3px solid #D1D1D1;
            height: 70px;
            width: 70px;
            border-radius: 100%;
            margin: 0 auto 15px;
            position: relative;
            img {
                max-width: 40px;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                margin: 0 auto;
            }
            &.arrow {
                border: none;
                height: auto;
                width: auto;
                position: inherit;
                img {
                    max-width: 100px;
                    position: inherit;
                    transform: inherit;
                    top: inherit;
                }
            }
        }
    }
    .info-sec {
        border-bottom: 2px solid $color-grey;
        margin-bottom: 40px;
        padding: 0 5% 40px;
        ul {
            li {
                margin-bottom: 10px;
                span {
                    color: $color-grey;
                    &:first-child {
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }
    .total-info {
        padding: 0 5% 50px;
        ul {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-size: 30px;
                    color: #333333;
                }
                &:last-child {
                    border-top: 2px dashed $color-grey;
                    margin-top: 15px;
                    padding-top: 15px;
                    span {
                        color: $theme-color;
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }
    .button-sec {
        margin-bottom: 30px;
        button {
            display: block;
            width: auto;
            margin: 0 auto;
            text-align: center;
            letter-spacing: normal;
            padding: 4px 40px;
        }
    }
    .card-information {
        text-align: center;
        border-top: 2px solid $color-grey;
        margin-top: 50px;
        padding-top: 35px;
        p {
            color: $black;
            a {
                color: $black;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
    .card-detail {
        form {
            margin-bottom: 50px;
            label {
                color: $black;
                margin-bottom: 4px;
                margin-left: 12px;
            }
            .form-group {
                display: inline-block;
                margin-bottom: 30px;
                &:first-child,
                &:nth-child(2) {
                    width: 49.3%;
                }
                &:nth-child(3) {
                    width: 49.3%;
                    input {
                        width: 48.5%;
                        display: inline-block;
                    }
                }
                &:nth-child(4) {
                    width: 49%;
                    input {
                        width: 44.4%;
                        display: inline-block;
                        &:nth-child(3),
                        &:nth-child(4) {
                            width: 16%;
                            border-radius: 9px;
                            background-image: url(../images/card1.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            height: 50px;
                            margin-left: 60px;
                        }
                        &.card1 {
                            background-image: url(../images/card1.png);
                        }
                        &.card2 {
                            background-image: url(../images/card2.png);
                        }
                    }
                }
                &:first-child,
                &:nth-child(3),
                &:nth-child(3) input.month {
                    margin-right: 10px;
                }
            }
        }
    }
    .thankyou-title {
        text-align: center;
        margin-bottom: 35px;
        h2 {
            color: $theme-color;
            font-weight: $font-weight-bold;
        }
    }
    &.booking {
        .info-sec {
            border: none;
            margin-bottom: 0px;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    .detail-info {
        h5 {
            color: #333333;
        }
    }
}

/*----- Fleet Page ------*/

.fleet-wrap {
     p {
        color: $black;
    }
    .top-content-sec {
        text-align: center;
        padding: 0 5%;
        margin-bottom: 80px;
    }
    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0px;
        }
        &:nth-child(odd) {
            .content-sec {
                text-align: right;
                margin-right: 50px;
            }
        }
        figure {
            margin-bottom: 0px;
        }
        .content-sec {
            span {
                margin-bottom: 20px;
                display: block;
                color: #a5a5a5;
                font-weight: 300;
            }
            ul {
                margin-bottom: 15px;
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 6px;
                    span, figure {
                        display: inline-block;
                        vertical-align: middle;
                        color: #a5a5a5;
                    }
                    span {
                        margin-bottom: 0px;
                        color: #a5a5a5;
                        font-weight: 300;
                    }
                    figure {
                        max-width: 16px;
                        display: inline-block;
                        vertical-align: top;
                        height: 16px;
                    }
                    &:first-child {
                        border-right: 1px solid #a5a5a5;
                        margin-right: 20px;
                        padding-right: 20px;
                    }
                }
            }
            p {
                color: #a5a5a5;
                font-weight: 300;
            }
            a {
                &.theme-btn {
                    padding: 4px 35px;
                    margin-top: 12px;
                }
            }
            h3 {
                color: #3B3B3B;
            }
        }
    }
}

/*----- How It Work -----*/

.how-work-wrap {
    .how-work {
        margin-top: 100px;
        border-bottom: 1px solid $color-grey;
        padding: 0 5% 80px;
        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0px;
            }
            .content-sec {
                margin-right: 30px;
                .title-sec {
                    border-bottom: 1px solid $color-grey;
                    position: relative;
                    margin-bottom: 25px;
                    span {
                        color: #D1D1D1;
                        border: 5px solid #D1D1D1;
                        height: 90px;
                        width: 90px;
                        display: flex;
                        border-radius: 100%;
                        font-size: 45px;
                        text-align: center;
                        position: absolute;
                        top: -28px;
                        right: -45px;
                        justify-content: space-around;
                        align-items: center;
                    }
                    h3 {
                        color: $color-grey;
                        font-size: 28px;
                        @include breakpoint(x-normal) {
                            font-size: 24px;
                        }
                    }
                }
                p {
                    color: #bbb4b4;
                }
                ul {
                    margin-bottom: 30px;
                    li {
                        margin-bottom: 15px;
                        position: relative;
                        padding-left: 20px;
                        color: #bbb4b4;
                        &:before {
                            content: "\f101";
                            font-family: FontAwesome;
                            font-size: 15px;
                            position: absolute;
                            left: 0;
                            top: 0px;
                        }
                    }
                }
                a {
                    &.theme-btn {
                        padding: 5px 25px;
                        font-weight: $font-weight-regular;
                    }
                }
                .content {
                    padding: 0 25px;
                }
            }
            &:nth-child(even) {
                .content-sec {
                    .title-sec {
                        text-align: right;
                        span {
                            right: inherit;
                            left: -45px;
                        }
                    }
                }
            }
        }
    }
    .let-us-wrap {
        padding: 80px 0px 40px;
        text-align: center;
        h2 {
            color: $color-grey;
            margin-bottom: 30px;
        }
        a {
            display: inline-block;
            padding: 4px 25px;
            margin-bottom: 30px;
        }
        span {
            display: block;
            font-size: 22px;
            color: $color-grey;
        }
    }
}

/*------ Account Page ------*/

.account-wrap {
    .account-sec {
        margin-top: 80px;
        @include breakpoint(x-normal) { 
            margin-top: 50px;
        }
        .contact-detail {
            ul {
                background: #F6F6F6;
                li {
                    padding: 15px 10px;
                    text-align: center;
                    transition: all 0.3s ease-in-out 0s;
                    a {
                        font-size: 17px;
                        color: $color-grey;
                        text-transform: $text-uppercase;
                        display: block;
                    }
                    &:hover,
                    &.active {
                        background: $theme-color;
                        a {
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .account-detail {
            margin-left: 30px;
            article {
                margin-bottom: 50px;
                h3 {
                    color: $color-grey;
                    border-bottom: 1px solid $color-grey;
                    margin-bottom: 30px;
                    padding-bottom: 10px;
                    padding-bottom: 10px;
                }
                .change-sec,
                .remove-sec {
                    a {
                        text-transform: $text-uppercase;
                        font-size: 16px;
                        color: $theme-color;
                        font-weight: $font-weight-medium;
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
            .booking-detail {
                display: flex;
                justify-content: space-between;
                ul {
                    width: 85%;
                    li {
                        margin-bottom: 10px;
                        span {
                            width: 69%;
                            display: inline-block;
                            color: $color-grey;
                            &:first-child {
                                width: 30%;
                                color: $black;
                                font-weight: $font-weight-bold;
                            }
                        }
                    }
                }
            }
            .password-sec {
                span {
                    color: $color-grey;
                    display: block;
                    margin-bottom: 20px;
                }
                form {
                    label {
                        color: $black;
                        font-weight: $font-weight-medium;
                        margin-bottom: 8px;
                    }
                    input {
                        width: 36%;
                        display: inline-block;
                        margin-right: 12px;
                    }
                    button {
                        display: inline-block;
                        width: calc(100% - 75.4%);
                        line-height: 3.2em;
                        @include breakpoint(x-normal) {
                            width: calc(100% - 76.6%);
                        }
                    }
                }
            }
            .payment-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .payment-info {
                    width: 80%;
                    span {
                        color: $black;
                        display: inline-block;
                        margin-bottom: 8px;
                        span {
                            color: $color-grey;
                        }
                    }
                    .checkbox {
                        display: block;
                        margin-bottom: 22px;
                    }
                    a {
                        border: 3px solid $theme-color;
                        background: $color-white;
                        color: $theme-color;
                        font-weight: $font-weight-regular;
                        font-size: 16px;
                        padding:  0 30px;
                        &:hover {
                            color: $color-white;
                            background: $color-black;
                            border-color: $color-black;
                        }
                    }
                }
            }
            .notify-wrap {
                span {
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/*----- Ride Page -----*/

.ride-wrap {
    margin-bottom: 80px;
    .ride-sec {
        form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 8%;
            margin-bottom: 50px;
            .dropdown {
                position: relative;
                display: inline-block;
                width: 200px;
                text-align: center;
                transition: all 0.3s ease-in-out 0s;
                span {
                    margin-bottom: 5px;
                    display: block;
                    color: $theme-color;
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: $color-white;
                border: 1px solid $color-grey;
                min-width: 200px;
                z-index: 1;
                text-align: left;
                transition: all 0.3s ease-in-out 0s;
                ul {
                    li {
                        a {
                            padding: 8px 16px;
                            display: block;
                            color: $black;
                            &:hover {
                                background: $theme-color;
                                color: $color-white;
                            }
                        }
                    }
                }
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
            .date-picker {
                position: relative;
                .input-group-addon {
                    position: absolute;
                    top: 50%;
                    display: inline-block;
                    height: 28px;
                    width: 22px;
                    left: 10px;
                    transform: translateY(-50%);
                    &:after {
                        content: "";
                        background: $color-grey;
                        width: 2px;
                        position: absolute;
                        right: -10px;
                        top: 0;
                        bottom: 0;
                    }
                }
                .datepicker {
                    padding-left: 50px;
                }
            }
            .form-group {
                &:first-child,
                &:nth-child(2) {
                    width: 300px;
                    margin-right: 30px;
                }
                &:nth-child(3) { 
                    width: 220px;
                    margin-right: 30px;
                }
            }
            label {
                color: $black;
                margin-bottom: 0px;
            }
            select {
                color: #707070;
            }
        }
        .table {
            border: none;
            td, th {
                border: none;
            }
            tr {
                border-bottom: 1px solid $color-grey;
                th {
                    font-weight: $font-weight-regular;
                    color: $color-grey;
                    text-transform: $text-uppercase;
                    font-size: 18px;
                    &:first-child {
                        width: 200px;
                    }
                    &:nth-child(2) {
                        width: 370px;
                    }
                    &:nth-child(3) {
                        width: 330px;
                    }
                    &:nth-child(4) {
                        width: 100px;
                    }
                    &:nth-child(5),
                    &:nth-child(6) {
                        width: 135px;
                    }
                }
                td {
                    color: $color-grey;
                    font-size: 14px;
                    font-weight: $font-weight-medium;
                    vertical-align: middle;
                    a {
                        background: $theme-color;
                        width: 100%;
                        line-height: 1.9em;
                        display: block;
                        text-align: center;
                        color: $color-white;
                        border: 1px solid $theme-color;
                        &:hover {
                            background: $color-white;
                            color: $theme-color;
                        }
                    }
                    &.finish {
                        color: $theme-color;
                    }
                }
            }
            tbody {
                tr {
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}

/*----- Rides Single -----*/

.rides-single-wrap {
    padding-left: 4%;
    padding-right: 4%;
    .back-page {
        margin-bottom: 20px;
        a {
            color: $theme-color;
            font-size: 17px;
            &:hover {
                color: $black;
            }
            i {
                margin-right: 5px;
            }
        }
    }
    .order-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $color-grey;
        margin-bottom: 50px;
        padding-bottom: 10px;
        span {
            color: $black;
            &:first-child {
                font-weight: $font-weight-bold;
            }
            cite {
                font-weight: $font-weight-regular;
            }
        }
    }
    article {
        margin-bottom: 40px;
        h4 {
            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid $color-grey;
            color: $color-grey;
            font-weight: $font-weight-bold;
        }
        ul {
            li {
                margin-bottom: 15px;
                span {
                    display: block;
                    color: $black;
                    &:first-child {
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
        &.passenger {
            ul {
                li {
                    color: $color-grey;
                    font-size: 18px;
                    a {
                        color: $color-grey;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
        &.payment {
            span {
                color: $color-grey;
            }
        }
        &.car-class {
            span {
                color: $black;
                margin-bottom: 5px;
                display: block;
            }
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 6px;
                    border-right: 1px solid $color-grey;
                    margin-right: 15px;
                    padding-right: 15px;
                    &:last-child {
                        border-right: none;
                    }
                    span, figure {
                        display: inline-block;
                        vertical-align: middle;
                        color: $color-grey;
                    }
                    span {
                        margin-bottom: 0px;
                    }
                    figure {
                        margin-bottom: 0px;
                        margin-right: 5px;
                    }
                }
            }
        }
        &.ride-details {
            .map-sec {
                height: 520px;
                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        &.price-information {
            ul {
                &.price-info {
                    margin-bottom: 30px;
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 2px solid $color-grey;
                        margin-bottom: 15px;
                        padding-bottom: 15px;
                        span {
                            color: $color-grey;
                            font-size: 18px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                            padding-bottom: 0px;
                            border: none;
                            span, cite {
                                color: $black;
                                display: block;
                                text-align: right;
                            }
                            cite {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .button-sec {
                ul {
                    li {
                        a {
                            display: block;
                            text-align: center;
                            font-size: 18px;
                            color: #E0E0E0;
                            border: 2px solid #E0E0E0;
                            line-height: 2.5;
                            &:hover {
                                background: $theme-color;
                                border-color: $theme-color;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
    .order-left-sec {
        margin-right: 50px;
    }
}

/*----------- Thank You  Page -----------*/

.thank_main_section {
    display: block;
    position: relative;
    text-align: center;
    padding: 0;
    width: 100%;
    margin:0px auto 0;
}
.thank_main_section .tahnk_you_box{
    display: block;
    padding: 100px 0;
    width: 100%;
}
.thank_main_section .tahnk_you_box h1{
    margin-bottom: 50px;
}
.thank_main_section .tahnk_you_box h1 i{
    font-size: 70px;
    line-height: 115px;
    color: #2da725;
    border: 4px solid #2da725;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    width: 120px;
    height: 120px;
    @include breakpoint(normal) {
        height: 100px;
        width: 100px;
        font-size: 50px;
        line-height: 90px;
    }
    @include breakpoint(mobile) {
        height: 70px;
        width: 70px;
        font-size: 30px;
        line-height: 60px;
    }
}
.thank_main_section .tahnk_you_box p{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #2da725;
    background: rgba(115, 208, 156, 0.4);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    color: #2da725;
    @include breakpoint(normal) {
        font-size: 16px;
    }
}

/*------------------ SignUp Section ------------------*/

.signup-sec {
    margin-bottom: 60px;
    .sec-title {
        margin-bottom: 40px;
    }
    h4 {
        text-align: center;
        margin-bottom: 0px;
        color: $black;
    }
    form {
        padding: 0 10%;
    }
}
.promise-section {
    .row {
        .grid-item {
            position: relative;
            padding: 0px 60px;
            margin-bottom: 60px;
            figure {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 40px;
            }
        }
    }
}