//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$border-color: #e7e7e7;
$color-black: #343338;
$color-grey: #707070;
$color-light-grey: #fafafa;
$theme-color: #DCB465;

//Font Family 
$font-family: 'Open Sans', sans-serif;
//$font-family-bold: 'HelveticaNeueBold';
//$font-family-medium: 'HelveticaNeueMedium';

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;